:root {
    --main-bg-color: black;
    --main-font-color: #01DF01;
}

#adminUsersTab, #adminReportsTab{
    border-bottom: 1px solid transparent;
}

#adminUsersTab li .active, #adminReportsTab li .active{
    background-color: var(--main-font-color)!important;
    color: var(--main-bg-color)!important;
    border: 1px solid black;
}

#adminUsersTab li .active:hover, #adminReportsTab, #adminReportsTab li .active:hover{
    color: var(--main-bg-color)!important;
}

#adminUsersTab li a:hover, #adminReportsTab li a:hover{
    border: 1px solid var(--main-font-color)!important;
    color: var(--main-font-color)!important;
}

.btn-danger, .btn-success{
    color: var(--main-bg-color)!important;
}

.logo{
    width: 200px;
    margin-right: 0;
}