:root {
    --main-bg-color: black;
    --main-font-color: #01DF01;
}

body{
    background-color: var(--main-bg-color);
}

*{
    font-family: 'Roboto', sans-serif;
    color: var(--main-font-color)!important;
}

.navbar{
    background-color: var(--main-bg-color)!important;
    border-bottom: 1px solid var(--main-font-color)!important;
}

.navbar .nav-item:hover{
    background-color: var(--main-font-color);
}

.nav-link:hover{
    color: var(--main-bg-color)!important;
}

.navbar-toggler-icon{
    background-color: var(--main-font-color)!important;
}

.right-sepparator{
    border-right: 1px solid var(--main-font-color);
}

.mt30{
    margin-top: 30px;
}

.mb20{
    margin-bottom: 20px;
}

hr{
    background-color: var(--main-font-color)!important;
    width: 75%;
}

.form-control{
    background-color: var(--main-bg-color)!important;
    color: var(--main-font-color)!important;
}

.btn-send{
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-font-color);
    color: var(--main-font-color);
}

.card{
    border: 1px solid var(--main-font-color);
}

.card-header{
    border-bottom: 1px solid var(--main-font-color);
}

.card-header, .card-body, th{
    background-color: var(--main-bg-color);
    color: gray!important;
}

.alert h4, .alert p{
    color: black!important;
}

th, td{
    border: 1px solid var(--main-font-color)!important;
}

footer{
    border-top: 1px solid var(--main-font-color);
}

.footer-logo img{
    width: 20%;
}

.footer-logo p{
    margin-bottom: 0!important;
}

.hr-small{
    width: 25%;
}