{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="col-md-4 m-auto">
        <div class="card mt30">
            <div class="card-header text-center">
                <h2>Login</h2>
            </div>
            <div class="card-body">
                <form action="{{ path('login_check') }}" method="post">
                    <input type="text" id="username" name="_username" placeholder="Username: " class="form-control is-valid mb20" />
                    <input type="password" id="password" name="_password" placeholder="Password: " class="form-control is-valid mb20" />

                    {% if error %}
                        <div class="alert alert-danger text-center" role="alert">
                            <p>{{ error.message }}</p>
                        </div>
                    {% endif %}

                    <div class="text-center">
                        <button type="submit" class="btn btn-lg btn-send is-valid">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}