<h2>Change Password</h2>

<hr/>

<p>You have requested the change of your password in <a href="https://fpaste.me">fPaste.me</a>.</p>
<p>To change the password, you must click on the following link: <a href="https://fpaste.me/changePassword?email={{ email }}&code={{ code }}">Change Password</a></p>
<p>You can also copy the complete URL in your browser: https://fpaste.me/changePassword?email={{ email }}&code={{ code }}</p>
<p>The password change will expire in 24 hours.</p>
<p>Thank you.</p>