<h2>Verify your Email Address</h2>

<hr/>

<p>Welcome to <a href="https://fpaste.me">fPaste.me</a>.</p>
<p>You must activate your account by clicking <a href="https://fpaste.me/verify?email={{ email }}&code={{ code }}">here</a></p>
<p>You can also copy the complete URL in your browser: https://fpaste.me/verify?email={{ email }}&code={{ code }}</p>
<p>This link will expire in 24 hours.</p>
<p>Thank you.</p>