{% extends 'base.html.twig' %}

{% block title %}Donations{% endblock %}

{% block body %}
    <div class="col-md-8 m-auto">
        <div class="card faq mt30">
            <div class="card-header text-center faq-header">
                <h2>Donations</h2>
            </div>

            <div class="card-body faq-body">
                <div class="col-md-12 m-auto privacy-policy">
                    <p>fPaste is an open source project, which is maintained economically thanks to the advertising inserted on the web and to the donations of the users.</p>
                    <p>No payment will ever be requested from any user. It will always be free. For this reason, we also accept voluntary donations to keep us online.</p>
                    <p>If you want to donate, the amount you want, we will be eternally grateful.</p>

                    <p>You can donate to any of the following addresses:</p>
                    <ul>
                        <li><b>Bitcoin: </b>3E1nkVd6K94DrXQ4Xg1BRq5684S4ZPsVT1</li>
                        <li><b>Bitcoin Cash: </b>qq6v784f6vfgdw3tga6flvnnsq38mhakrs5jvpaa6q</li>
                        <li><b>Ethereum: </b>0x548A3055d6D525339776029B330f637fE81fF60c</li>
                        <li><b>Litecoin: </b>M9EA8n4Npo2NzZfvqdZgHSnUrFEvvRjDw1</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}