{% extends 'base.html.twig' %}

{% block title %}Terms and Conditions of Use.{% endblock %}

{% block metaTags %}
    <meta name="description" content="Terms and Conditions of Use. Every user that use fPaste must accept this conditions before the first use.">
{% endblock %}

{% block body %}
    <div class="col-md-8 m-auto">
    <div class="card faq mt30">
        <div class="card-header text-center faq-header">
            <h2>Terms and Conditions of Use</h2>
        </div>

        <div class="card-body faq-body">
            <div class="col-md-12 m-auto privacy-policy">
                <h4>Account Requirements</h4>
                <p>
                    <ul>
                        <li>You must be a human to use and create an account. The creation of bots accounts or automated software is totally prohibited.</li>
                        <li>Each user, with or without account, assumes responsibility for all the content that he sends to the platform.</li>
                        <li>It is necessary to have more than 13 years for the use of the platform. This service is not dedicated to people under this age. If the use of a minor is detected, the account will be suspended immediately.</li>
                        <li>Each account will be used by a single person and should never be shared.</li>
                        <li>To create an account, it is necessary to accept the Terms and Conditions of Use.</li>
                        <li>It is necessary to provide a username, a password and a valid email address. These data are only identifying and will never be sold to third parties.</li>
                        <li>You are responsible for the security of your account. In fPaste we use secure algorithms to keep your data protected, but you will be responsible for not sharing your password with any other person.</li>
                    </ul>
                </p>

                <h4>User-Generated Content</h4>
                <p>
                    <ul>
                        <li>The use of fPaste.me can be completely anonymous. It is not mandatory to create a user account to use it, but it is recommended.</li>
                        <li>FPaste stores, for both registered and anonymous users, the IP address from which each content is sent, to avoid legal problems.</li>
                        <li>If you use the platform without creating a user account, the user is still responsible for its content, identified by the IP address used.</li>
                        <li>Each user is responsible for the content that they send or link, therefore, each person is responsible for their own content. In case of publishing or linking with illegal content, fPaste will collaborate with the security forces if necessary.</li>
                        <li>fPaste reserves the right to remove content that does not meet the conditions of use.</li>
                    </ul>
                </p>

                <h4>Private Pastes</h4>
                <p>
                    <ul>
                        <li>It will only be accessible to who knows the paste URL.</li>
                        <li>The content will not be indexed by the search engines.</li>
                        <li>The content will not be linked by the main page of fPaste.</li>
                        <li>A private paste must meet the same conditions of use, applying the same prohibitions for its content.</li>
                    </ul>
                </p>

                <h4>Security</h4>
                <p>
                    <ul>
                    <li>fPaste guarantees the security in the storage of each user's data.</li>
                    <li>All passwords are encrypted under complex algorithms. Nobody, except the user, will know your password</li>
                    <li>fPaste will never send any email or message through any means of communication, requesting your password for any reason. The password should only be known by the user.</li>
                    <li>A user can change their data (email and password) at any time they wish, in order to maintain the security and integrity of their account.</li>
                    <li>fPaste stores the user's IP address (for security and legality reasons) each time:
                        <ul>
                            <li>Send a new content (public or private pastes).</li>
                            <li>Report a paste..</li>
                            <li>Send a support message..</li>
                            <li>Visit each paste (public or private).</li>
                            <li>Make a search.</li>
                        </ul>
                    </li>
                    <li>fPaste reserves the right to prohibit access through the IP address.</li>
                    <li>fPaste reserves the right to suspend access to a user account that does not comply with the conditions of use.</li>
                    </ul>
                </p>

                <h4>Prohibitions</h4>
                <p>The objective of fPaste is to get a platform to share all kinds of content, supporting freedom of expression, but always complying with the law. There are certain contents that are totally forbidden to publish or link on this platform:</p>
                <p>
                    <ul>
                        <li>Content protected by copyright (example: download of audiovisual, musical or textual content).</li>
                        <li>Content related to drugs, black markets or any purchase of illegal assets.</li>
                        <li>Illegal pornography (such as child pornography). In this case, we will be very strict, providing all the information to the security forces.</li>
                        <li>Sale of arms or links to markets selling arms and illegal products.</li>
                        <li>Software or code that can be used as malware to harm any person or system.</li>
                        <li>Racist, defamatory content, or any type of content that supports discrimination and / or violence.</li>
                    </ul>
                </p>

                <h4>Cancellation and Termination</h4>
                <p>A user can unsubscribe at any time by contacting fPaste support.</p>
                <p>All data related to it will be deleted after processing the user's leave, within 24/48 hours.</p>
                <p>A user may be suspended by the administration of the site in the following cases:</p>
                <p>
                    <ul>
                        <li>Break any term of the conditions of use.</li>
                        <li>Detect abusive behavior by the user.</li>
                        <li>Detect a use that could damage our system.</li>
                    </ul>
                </p>

                <p>The data of a suspended user will remain stored, on a variable time scale, of up to 3 months, depending on the reason for the suspension. This is done in order to collaborate, if necessary, with the security forces when carrying out an illegal activity.</p>

                <h4>Changes in the Terms and Conditions of Use.</h4>
                <p>We reserve the right to make changes to the conditions of use at any time, notifying each user at least 15 days in advance before becoming effective.</p>
                <p>After making a change, each user can accept or reject the new conditions, allowing or denying the use of their account in the next few days.</p>

                <p><b>Last Update: </b>May 7, 2018</p>
            </div>
        </div>
    </div>

{% endblock %}